.all-tables{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.table{
    overflow-x:auto;
    width: 80%;
    height: 300px;
}

#report{
    width:510px
}

table {
    height: 300px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;

}

tr:nth-child(even){
    background-color: #f2f2f2
}