#active{
    color:rgb(29, 161, 242);
}

#active:hover{
    color:white
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.container .navbar{
    position: fixed;
    left:0;
    bottom:0;
}

.container .navbar a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-bottom: 10%;
    padding: 10px;
}

.navbar .flex-item:hover{
    background-color: rgb(29, 161, 242);
    border-radius: 30px;
    padding: 10px;
    display: inline-flex;
}

.to-profile{
    display: flex;
    flex-direction: row;
}

.flex-item{
    display: flex;
    flex-direction: row;
}

body{
    background-color: black;
}

a{
text-decoration: none;
color:white 
}

p{
    color:white
}

.post{
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-color: white;
    padding: 20px;
    width:500px
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

textarea{
    resize: none;
    background-color: black;
    border:solid 3px #ccc; 
    color:white;
}

textarea:active {
    border:none
}

.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.form-buttons button{
    color:black
}

.form-buttons input {
    color:white
}

h1,h2,h3{
    color:white
}

button,button a{
    color: white;
    text-decoration: none;
}


.post-board p{
    color: white;
    text-decoration: none;
}

.post-detail{
    border-style: solid;
    border-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.current-post-file img{
    width:350px;
}

img,video{
    width:150px;
    height: auto;
}

.post-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-buttons a img,.post-buttons button img,.post-buttons button{
    width:30px;
    background: none;
    border: none;
}
