body{
    background-color: black;
}

h2{
    color:white
}

.setting-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

form{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: white;
    padding: 20px;
    width: 500px;
}


form .each{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    margin-bottom: 10px;
}

form .submit{
    width:100px;
}