#active{
    color:rgb(29, 161, 242);
}

#active:hover{
    color:white
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 5%; */
}

.container .navbar{
    position: fixed;
    left:0;
    /* display: inline-flex; */
}

.container .navbar a{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-bottom: 10%;
    /* background-color: blue;
    border-radius: 30px; */
    padding: 10px;
}

.navbar .flex-item:hover{
    background-color: rgb(29, 161, 242);
    border-radius: 30px;
    padding: 10px;
    /* width:50%; */
    display: inline-flex;
}

/* .navbar .profile-bar{
    display:flex;
    flex-direction: row;
    background-color: blue;
    border-radius: 30px;
} */

.to-profile{
    display: flex;
    flex-direction: row;
}

.flex-item{
    display: flex;
    flex-direction: row;
}

/* .title{
    margin-left:40%;
} */

body{
    /* background-color: rgb(36,51,61); */
    background-color: black;
}

a{
    text-decoration: none;
}

.search-bar{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search-bar input{
    width:500px;
}
/* .search-bar button{
    background-color: blue;
    background: none;
    opacity: 0;
} */
.search-bar button img{
    width:30px;
    /* background: none; */
    cursor: pointer;
}

.all-post{
    width:500px;
    border-style: solid;
    border-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* width: 100%; */

    /* width:500px;
    border-style: solid;
    border-color: white;
    padding: 20px;
    margin-bottom: 10px; */
}

.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button,button a{
    color: black;
    text-decoration: none;
}

/* form input,button a{
    color:black;
    text-decoration: none;
} */

.post-board{
    display: flex;
    flex-direction: column-reverse;
    /* border-style: solid;
    border-color: white;
    padding: 20px; */
}

.post-board p{
    color: white;
    text-decoration: none;
}

.post-detail{
    /* width:500px; */
    border-style: solid;
    border-color: white;
    padding: 20px;
    margin-bottom: 10px;
}




/* h2,h3,h5,pre{
    color:white;
} */





/* .login_create {
    display: flex;
    flex-direction: row;

}

.try{
    margin-right: 100px;
} */
.post-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-buttons label{
    color:white
}
.post-buttons button,.post-buttons button img,.post-buttons input{
    width:30px;
    border: none;
    background: none;
    cursor: pointer;
}

/* .Reply:hover{
    background-color: rgb(29, 161, 242);
} */

.likes .post-buttons{
    color:white
}

.like .post-buttons button,.like .post-buttons button img,.like .post-buttons input{
    width:30px;
    border: none;
    background: none;
    cursor: pointer;
}