#active{
    color:rgb(29, 161, 242);
}

#active:hover{
    color:white
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 5%; */
}

.container .navbar{
    position: fixed;
    left:0;
    /* display: inline-flex; */
}

.container .navbar a{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-bottom: 10%;
    /* background-color: blue;
    border-radius: 30px; */
    padding: 10px;
}

.navbar .flex-item:hover{
    background-color: rgb(29, 161, 242);
    border-radius: 30px;
    padding: 10px;
    /* width:50%; */
    display: inline-flex;
}

/* .navbar .profile-bar{
    display:flex;
    flex-direction: row;
    background-color: blue;
    border-radius: 30px;
} */

.to-profile{
    display: flex;
    flex-direction: row;
}

.flex-item{
    display: flex;
    flex-direction: row;
}

/* .title{
    margin-left:40%;
} */

body{
    /* background-color: rgb(36,51,61); */
    background-color: black;
}
a{
   text-decoration: none;
   color:white 
}

p{
    color:white
}

.post{
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-color: white;
    padding: 20px;
    width:500px
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* width: 100%; */

    /* width:500px;
    border-style: solid;
    border-color: white;
    padding: 20px;
    margin-bottom: 10px; */
}

textarea{
    resize: none;
    background-color: black;
    border:none;
    color:white;
}

.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.form-buttons button{
    color:black
}

h1,h2,h3{
    color:white
}

button,button a{
    color: white;
    text-decoration: none;
}


.post-board p{
    color: white;
    text-decoration: none;
}

.post-detail{
    border-style: solid;
    border-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

img{
    width:450px;
    /* height:200px */
}

.post-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .post-buttons label{
    color:white
} */
/* .post-buttons button,.post-buttons button img{
    width:30px;
    border: none;
    background: none;
    cursor: pointer;
} */

.post-buttons a img,.post-buttons button img,.post-buttons button{
    width:30px;
    background: none;
    border: none;
}