<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/admin.css')}}">
</head>
<body>
    <div class="all-tables">        
        <div class="table" id="Allusers">
            <div><h2>Users</h2></div>
            <table>                
                <thead> 
                    {% for i in data["user headers"] %}
                        <th>{{i}}</th>
                    {%endfor%}
                </thead> 
                <tbody> 
                    {% for row in data["users"] %}
                        <tr>
                            {% for i in row %}
                                <td>{{i}}</td>  
                            {%endfor%}
                            <td><a href="/{{row[1]}}" target="__blank">Profile</a></td>
                            <form action="" method="POST">
                               <td><button name="delete-user" value="Twitter_Users,{{row[1]}},{{row[9]}}">Delete user</button></td>
                               <td><button name="change-user-status-admin" value="Twitter_Users,{{row[1]}},{{row[9]}},admin">Promote to Admin</button>
                               <button name="change-user-status-user" value="Twitter_Users,{{row[1]}},{{row[9]}},user">Demote to User</button></td>
                            </form>
                        </tr>
                    {% endfor %} 
                </tbody> 
            </table>
        </div>
 
        <div class="table" id="Allpost">
            <div><h2>Post</h2></div>
            <table> 
                <thead> 
                    {% for i in data["post headers"] %}
                        <th>{{i}}</th>
                    {%endfor%}
                </thead> 
                <tbody> 
                    {% for row in data["post"] %}
                        <tr>
                            {% for i in row %}
                                <td>{{i}}</td>  
                            {%endfor%}
                            <td><a href="/clear/{{row[6]}}">Delete post</a></td>
                        </tr>
                    {% endfor %} 
                </tbody> 
            </table>
        </div> 

        <div class="table" id ="report">
            <div><h2>Reported Post</h2></div>
            <table>
                <thead> 
                    {% for i in data["reported headers"] %}
                        <th>{{i}}</th>
                    {%endfor%}
                </thead> 
                <tbody> 
                    {% for row in data["reported post"] %}
                        <tr>
                            {% for i in row %}
                                <td>{{i}}</td>  
                            {%endfor%}
                            <td><a href="/{{row[1]}}" target="__blank">Check Post</a>
                            <form action="" method="POST">
                                <button name="report" value="{{row[1]}}">Delete Report</button></td>
                            </form>
                        </tr>
                    {% endfor %} 
                </tbody> 
            </table>
        </div>
              
    </div>

     <form action="" method="post">
         <fieldset>
             <legend>Alter Database Tables</legend>

            <label for="select-table">Please select a table:</label>
            <select id="tables" name="tables">
                <option value="">None</option>
                {% for table in data["all tables"] %}
                    <option value="{{table}}">{{table}}</option>
                {%endfor%}
            </select><br><br>

            <label for="new-table">Create Table:</label>
            <input type="text" name="new-table-name" placeholder="Table Name">
            <input type="text" name="new-table-column" placeholder="Table must have atleast 1 column">

            <select id="new-column-types" name="new-column-types">
                <option value="VARCHAR">VARCHAR</option>
                <option value="INT">INT</option>
                <option value="INT PRIMARY KEY AUTO_INCREMENT">INT PRIMARY KEY AUTO_INCREMENT</option>
            </select>

            <input type="text" name="new-column-type-size" placeholder="Column size type"><br><br>

            <label for="delete-table">Delete Table:</label>
            <select name="" id="">
                {% for table in data["all tables"] %}
                    <option value="{{table}}">{{table}}</option>
                {%endfor%}
            </select><br><br>

            <label for="delete-column">Delete column:</label>
            <input type="text" name="delete-column" placeholder="Column name to delete"><br><br>

            <label for="add-column">Add column:</label>
            <input type="text" name="add-column" placeholder="Column name to add">

            <select id="add-column-types" name="add-column-types">
                <option value="VARCHAR">VARCHAR</option>
                <option value="INT">INT</option>
                <option value="INT PRIMARY KEY AUTO_INCREMENT">INT PRIMARY KEY AUTO_INCREMENT</option>
            </select>

            <input type="text" name="add-column-type-size" placeholder="Column size type"><br><br>

            <label for="rename-column">Rename column:</label>
            <input type="text" name="old-column-name" placeholder="Old Column Name">
            <label for="">-</label>
            <input type="text" name="new-column-name" placeholder="New Column Name"><br> <br>

            <input type="submit">
         </fieldset>
     </form>
</body>
</html>