<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for i in data["profile_details"] %}
        <title>{{i[0]}} (@{{i[1]}})</title>
    {%endfor%}
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/tabs.css')}}">
</head>
<body>
    <main>
        <div class="container">
            <div class="navbar">
                <a href="/" class="flex-item">Home</a>
                {% if "username" in session %}
                    <a href="/{{session['username']}}" class="flex-item" id="active">{{session["username"]}}</a>
                {% elif "username" not in session %}
                    <a href="/login">Login</a>
                {% endif %}
            </div>
            
                <div class="container-middle">
                    {% if data["profile_details"] %}
                        <div class="container-middle-top">
                            {% for i in data["profile_details"] %}
                                    <img src='/static/preview_img/{{i[11]}}' alt="{{i[11]}}" id="profile-banner">
                                    <img src='/static/preview_img/{{i[12]}}' alt="{{i[12]}}" id="profile-img">
                                <div>
                                    <form action="" method="POST">
                                        {% if session["username"] %}
                                            {% if username == session['username']%}
                                                <button name="Settings"><a ref="/profile/{{session['username']}}/settings" class="profile-edit">Edit Account</a></button>
                                            {% else %}
                                                {% if data["all ready followed"][0] == session["username"] %}
                                                    <button name="UnFollow" value="{{session['username']}}"><p class="profile-edit">Already Following</p></button>
                                                {% else %}
                                                    <button name="Follow" value="{{i[1]}}"><p class="profile-edit">Follow</p></button>
                                                {%endif%}
                                            {%endif%}
                                        {%endif%}
                                    </form>
                                </div>

                                <div class="profile-description">
                                    <h3 style="color: white;">{{i[0]}}</h3>
                                    <p style="color: white;">@{{i[1]}}</p>
                                    <p style="color: white;">{{i[10]}}</p>
                                    <div class="follow" style="color: white;">
                                        <a href="/{{i[1]}}/followers">{{data["Amount of followers"]}} Followers |</a> 
                                        <a href="/{{i[1]}}/following">| {{data["Following Amount"]}} Following</a>
                                    </div>
                                </div>

                                <div class="profile-tabs">
                                    <a href="/{{i[1]}}">All Post</a>
                                    {% if data["tab"] == "Replies" %}
                                        <a href="/{{i[1]}}/Replies" class="active">Replies</a>
                                    {% else %}
                                        <a href="/{{i[1]}}/Replies">Replies</a>
                                    {%endif%}

                                    {% if data["tab"] == "Likes" %}
                                        <a href="/{{i[1]}}/Likes" class="active">Likes</a>
                                    {% else %}
                                        <a href="/{{i[1]}}/Likes">Likes</a>
                                    {%endif%}
                                </div>
                            {%endfor%}
                        </div>
                    {%endif%}
                
                    <div class="post-board">
                        
                        
                        {% if data["tab"] == "Likes"%}
                            {% block likes %}
                            {% endblock %}
                            

                        {% elif data["tab"] == "Replies"%}
                            {% block replies %}
                            {% endblock%}

                        {% elif data["tab"] == "followers" %}
                            {% block follower %}
                            {% endblock %}

                        {% elif data["tab"] == "following" %}
                            {% block following %}
                            {% endblock %}

                        {% else %}
                            <p style="color:white">
                                {% with messages = get_flashed_messages()%}
                                    {% if messages %}
                                        {% for message in messages%}
                                            {{message}}
                                        {%endfor%}
                                    {%endif%}
                                {%endwith%}
                            </p>
                        {%endif%}
                    </div>


                    {% if not data["post"] %}
                    <p style="color:white">
                        {% with messages = get_flashed_messages()%}
                            {% if messages %}
                                {% for message in messages%}
                                    {{message}}
                                    <br>
                                    <br>
                                {%endfor%}
                            {%endif%}
                        {%endwith%}
                    </p>
                    {%endif%}
                </div>

            </div>
        </div>
    </main>
</body>

</html>