<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- <link rel="stylesheet" type= "text/css" href="\twitter clone\static\index.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>

<!-- <header class="flex-container-header">
    <a href="/" class="flex-item">Website Name</a>
    <a href="/" class="flex-item">Home</a>
    <a href="/" class="flex-item">Shop</a>
    <a href="" class="flex-item">About Us</a>
    <a href="" class="flex-item">Contact</a>
    {% if "username" in session %}
    <a href="/profile" class="flex-item">{{session["username"]}}</a>
    {% elif "username" not in session %}
    <a href="">Login</a>
    {% endif %}
</header> -->

<body>

    <main>
        <!-- <h2 class="title" style="color: white;display: flex; justify-content: center;">Website Users</h2> -->
        <div>
            <form action="" method="post" class="search-bar">
                <input type="text" name="search-bar" placeholder="Search..">
                <button name="enter-search" value=""><img src="/static/buttons/search-icon.png" alt=""></button>  
            </form>
        </div>

        <div class="container">
            <div class="navbar" >
                <a href="/" class="flex-item"><span>Website Name</span></a>
                <a href="/" class="flex-item" id="active"><span>Home</span></a>
                <a href="/" class="flex-item">Shop</a>
                <a href="" class="flex-item">About Us</a>
                <a href="" class="flex-item">Contact</a>
                {% if "username" in session %}
                    <a href="/{{session['username']}}" class="flex-item">{{session["username"]}}</a>
                {% elif "username" not in session %}
                    <a href="/login" class="flex-item">Login</a>
                {% endif %}

                <hr>
                <a href="/switch/dartsams" class="flex-item">to dartsams</a>
                <a href="/switch/michael" class="flex-item">to michael</a>

            </div>
                
            

            <div class="all-post">
                <!-- <h3>Post bar</h3> -->
                {% if "username" in session%}
                <!-- <form action=""  enctype=multipart/form-data> -->
                    <!-- <div class="create-post"> -->
                        
                        <!-- <div class="form-buttons"> -->
                        <!-- <form action="" method="post" enctype=multipart/form-data>
                            <textarea name="post-field" id="myPost" cols="50" rows="5" style="resize: none;"></textarea>
                            <input type="file" name="file" style="color: white;" id="file" onchange="getFileFunction()">
                            <input type="submit">
                            <button type="submit" onclick="myFunction()">Post</button>
                        </form> -->
                        
                        <!-- <input type="submit" value="Post"> -->
                        <!-- <button type="submit" onclick="myFunction()">Post</button> -->
                        <!-- </div> -->
                    <!-- </div> -->

                    <form action=""  method="POST" enctype=multipart/form-data>
                        <div class="create-post">
                            <textarea name="post-field" id="myPost" cols="50" rows="5" style="resize: none;"></textarea>
                            <div class="form-buttons">
                                <input type="file" name="file" >
                                <!-- <input type="submit" value="Post"> -->
                                <button type="submit">Upload</button>
                            </div>
                        </div>
                        
                        
                    </form>
                    <button onclick="myFunction()" style="width: 500px;color:black">Post</button>
                    
                    
                <!-- </form> -->
                {%endif%}

                <div class="post-board">
                    <div class="post" id="post">
                        <!-- {{messages}} -->
                        
                        {%for i in data["all post"] %}
                            
                            <!-- {{session["username"]}} -->
                            <!-- <div style="color: blue;">Author:{{i[0]}}</div>
                            <div style="color: blue;">Post Date:{{i[1]}}</div>
                            <div style="color: blue;">Post Time:{{i[2]}}</div>
                            <div style="color: blue;">{{i[3]}}</div>
                            <div style="color: blue;">Post File:{{i[4]}}</div>
                            <div style="color: blue;">Placeholder Date:{{i[5]}}</div>
                            <div style="color: blue;">Post ID:{{i[6]}}</div> -->

                            <a href="/{{i[6]}}" >
                            <div class="post-detail">
                                <!-- {{i}} -->
                                {% if i[1] == data["post date"] %}
                                <p class="post-name">By {{i[0]}} - {{i[2]}}</p>

                                {% else %}
                                <p class="post-name">By {{i[0]}} - {{i[5]}}</p>

                                {%endif%}

                                <!-- <p class="post-body">{{i[3]}}</p> -->
                                {% if i[3] != None%}
                                    <p class="post-body" id="{{i[6]}}">{{i[3]}}</p>
                                {%endif%}
                                
                                {% if i[4] != None %}
                                    {% if 'mp4' == i[4].split(".")[1] %}
                                        <video controls width="320" height="240">
                                            <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="video/{{i[4].split('.')[1]}}">
                                        Your browser does not support the audio element.
                                        </video>

                                    {%elif 'mp3' == i[4].split(".")[1]%}
                                        <audio controls width="320" height="240">
                                            <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="audio/{{i[4].split('.')[1]}}">
                                        Your browser does not support the audio element.
                                        </audio>

                                    {%endif%}

                                    {% for pic_type in data["extensions"]%}
                                        {% if pic_type == i[4].split(".")[1] %}
                                            <img src="/static/preview_img/{{i[4]}}" alt="">
                                        {%endif%}
                                    {%endfor%}

                                {%endif%}
                            </a> 

                            <div class="likes">
                                <!-- {{like_lst}}  -->

                                <!-- <form action="" class="post-buttons"> -->
                                    <a name="Reply" class="Reply" value="{{i[6]}}" href="/{{i[6]}}"><img src="/static/buttons/reply1.png" alt="">Reply</a>  
                                    <button name="Retweet" class="Retweet" value="{{i[6]}}"><img src="/static/buttons/retweet.png" alt="" onclick="retweet(id)" id="post:{{i[3]}}">Retweet</button> 
                                    {% if data["like lst"] %}
                                    <!-- {{like_lst}} -->
                                        {% for j in data["like lst"] %}
                                            {% if j[1] == i[6] %}
                                                {% if session["username"] == j[0] %}
                                                    <!-- {{j[0]}}-{{j[1]}} -->
                                                    <button name="UnLike" class="Like" value="{{i[6]}}" ><img src="/static/buttons/unlike.png" alt="" onclick="changeLike(id)" id="unlike:{{i[6]}}">Like</button>  
                                                {%endif%}
                                            {%endif%}
                                        {%endfor%}
                                    {%endif%}

                                    {% if i[6] not in data["like lst id"] %}
                                        <button name="Like" class="Like" value="{{i[6]}}"><img src="/static/buttons/like.png" alt="" onclick="changeLike(id)" id="like:{{i[6]}}">Like</button>  
                                    {%endif%}
                                    <button name="Share" class="Share" value="{{i[6]}}"><img src="/static/buttons/black heart.png" alt="">Share</button>  
                                <!-- </form>         -->
                            </div>
                        </div>
                        {%endfor%}

                        
                    </div>
                </div>
            </div>
            <!-- <button onclick="myFunction()">Test socket button</button> -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

            <script type="text/javascript" charset="utf-8">
                var socket = io();
                var username = "{{session['username']}}"
                var all_post = "{{data['all post']}}"

                // while (true) {
                //     var today=new Date();
                //     console.log(today.getDay())
                //     today[0] = "Sunday";
                //     today[1] = "Monday";
                //     today[2] = "Tuesday";
                //     today[3] = "Wednesday";
                //     today[4] = "Thursday";
                //     today[5] = "Friday";
                //     today[6] = "Saturday";

                // }
                
                // socket.emit("load",{user:username})
                // socket.on('onConnect', function(data) {
                //     // console.log(`${data}`)
                //     for (let i = 0;i<data.length;i++) {
                //         // console.log(data[i])

                //         let ass = document.getElementById(data[i][1]);
                //         // console.log(ass.getElementsByTagName("*"))
                //     }
                // });

                socket.on("message",function(msg){
                    // console.log(`${msg}`)


                    var postDiv = document.createElement("div");
                    postDiv.setAttribute("class","post-detail");
                    // postDiv.setAttribute("id",`${msg.postID}`)
                    postDiv.style.color = "white";

                    var postHeader = document.createElement("a");
                    postHeader.setAttribute("class","post-name");
                    postHeader.setAttribute("href",`/${msg.postID}`);
                    // postDiv.setAttribute("id",`${msg.postID}`)

                    postHeader.innerHTML = `By ${msg.author} - ${msg.post_time}`;
                    postHeader.style.color = "white";
                    postDiv.appendChild(postHeader);

                    var post = document.createElement("p");
                    post.setAttribute("class","post-body")
                    // post.setAttribute("id",`${msg.postID}`)
                    post.innerHTML = `${msg.post}`
                    postDiv.appendChild(post);

                    var postButtonDiv = document.createElement("div");
                    // postButtonDiv.innerHTML = "still working"
                    var postButtons = document.createElement("div");
                    postButtons.setAttribute("class","likes")


                    var reply = document.createElement("a");
                    var replyImage = document.createElement("img");
                    replyImage.setAttribute("src","/static/buttons/reply1.png")
                    reply.setAttribute("href",`/${msg.postID}`);
                    // reply.style.width = "30px";
                    reply.appendChild(replyImage)
                    postButtons.appendChild(reply)

                    var retweet = document.createElement("button");
                    var retweetImage = document.createElement("img");
                    retweetImage.setAttribute("src","/static/buttons/retweet.png")
                    retweetImage.setAttribute("onclick","retweet(id)")
                    // console.log(msg.postID)
                    retweetImage.setAttribute("id",`post:${msg.post}`)
                    retweet.appendChild(retweetImage)
                    postButtons.appendChild(retweet)

                    var like = document.createElement("button");
                    var likeImage = document.createElement("img");
                    likeImage.setAttribute("src","/static/buttons/like.png")
                    likeImage.setAttribute("onclick","changeLike(id)")
                    likeImage.setAttribute("id",`like:${msg.postID}`)
                    like.appendChild(likeImage)
                    postButtons.appendChild(like)

                    // var unlike = document.createElement("button");
                    // var unlikeImage = document.createElement("img");
                    // unlikeImage.setAttribute("src","/static/buttons/unlike.png")
                    // unlike.appendChild(unlikeImage)
                    // postButtons.appendChild(unlike)

                    var share = document.createElement("button");
                    var shareImage = document.createElement("img");
                    shareImage.setAttribute("src","/static/buttons/black heart.png")
                    share.appendChild(shareImage)
                    postButtons.appendChild(share)


                    postButtonDiv.appendChild(postButtons)
                    postDiv.appendChild(postButtonDiv);



                    document.getElementById("post").prepend(postDiv); 
                    document.getElementById('myPost').value = ''
        
                });

                function myFunction() {
                    let send_message = document.getElementById("myPost").value;
                    let socketType = "newPost"
                    socket.emit("message",{message:send_message,type:socketType})
                };

                function changeLike(id) {
                    let button = document.getElementById(id).id

                    // console.log(button)
                    let splitButton = button.split(":");
                    // console.log(splitButton);
                    var likeStatus = splitButton[0];
                    var likeID = splitButton[1];
                    // console.log("-"+likeID)

                    if (likeStatus === "like") {
                        // console.log("works")
                        document.getElementById(id).src = "/static/buttons/unlike.png";
                        socket.emit("changeLike",{user:username,status:likeStatus,id:likeID})
                        // var likeStatus="unlike"
                        document.getElementById(id).id = `unlike:${likeID}`
                        // console.log(button)
                    } else if (likeStatus === "unlike") {
                        document.getElementById(id).src = "/static/buttons/like.png";
                        socket.emit("changeLike",{user:username,status:likeStatus,id:likeID})
                        // var likeStatus="like"
                        document.getElementById(id).id = `like:${likeID}`
                        // console.log(button)
                    }
                }

                function retweet(id) {
                    let button = document.getElementById(`${id}`).id
                    // console.log(buttond)
                    let splitButton = button.split(":");
                    let postMessage = splitButton[1]
                    let socketType = "retweetPost"
                    socket.emit("message",{message:postMessage,type:socketType})
                }
            </script>
        </div>

    </main>
    
</body>

</html>