<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- <link rel="stylesheet" type= "text/css" href="\twitter clone\static\index.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>

<!-- <header class="flex-container-header">
    <a href="/" class="flex-item">Website Name</a>
    <a href="/" class="flex-item">Home</a>
    <a href="/" class="flex-item">Shop</a>
    <a href="" class="flex-item">About Us</a>
    <a href="" class="flex-item">Contact</a>
    {% if "username" in session %}
    <a href="/profile" class="flex-item">{{session["username"]}}</a>
    {% elif "username" not in session %}
    <a href="">Login</a>
    {% endif %}
</header> -->

<body>

    <main>
        <h2 class="title" style="color: white;display: flex; justify-content: center;">Website Users</h2>
        <!-- <form action="" method="POST" style="color: white;display: flex; justify-content: center;width:100px">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form> -->
        <div class="container">
            <div class="navbar">
                <a href="/" class="flex-item"><span>Website Name</span></a>
                <a href="/" class="flex-item" id="active"><span>Home</span></a>
                <a href="/" class="flex-item">Shop</a>
                <a href="" class="flex-item">About Us</a>
                <a href="" class="flex-item">Contact</a>
                {% if "username" in session %}
                <!-- <div class="flex-item">
                    <img src="\static\w3lynx_200.png" alt="" style="width: 10%; height:10%;">
                    <a href="/profile" >{{session["username"]}}</a>
                    <a href="/logout">Logout</a>  
                </div> -->
                <a href="/{{session['username']}}" class="flex-item">{{session["username"]}}</a>
                {% elif "username" not in session %}
                <a href="/login" class="flex-item">Login</a>
                {% endif %}

                <!-- <div class="profile-bar">
                    <img src="\static\w3lynx_200.png" alt="" style="width: 10%; height:10%;" >
                    <a href="/profile" >{{session["username"]}}</a>
                    <a href="/logout" >Logout</a>  
                </div> -->
            </div>
            
            <!-- <div class="login_create"> -->
                <div class="all-post">
                    <!-- <h3>Post bar</h3> -->
                    
                    {% if "username" in session%}
                    <form action="" method="POST" enctype=multipart/form-data>
                        <textarea name="post-field" id="" cols="50" rows="5" style="resize: none;"></textarea>
                        <div class="form-buttons">
                            <input type="file" name="file" style="color: white;">
                            <!-- <input type="submit" value="Post"> -->
                            <button type="submit">Post</button>
                        </div>
                    </form>
                    {%endif%}

                    <div class="post-board">
                        <div class="post">
                            <!-- {{messages}} -->
                            {%for i in messages%}
                            <!-- {{session["username"]}} -->
                            <div style="color: blue;">Author:{{i[0]}}</div>
                            <div style="color: blue;">Post Date:{{i[1]}}</div>
                            <div style="color: blue;">Post Time:{{i[2]}}</div>
                            <div style="color: blue;">Post:{{i[3]}}</div>
                            <div style="color: blue;">Post File:{{i[4]}}</div>
                            <div style="color: blue;">Placeholder Date:{{i[5]}}</div>
                            <div style="color: blue;">Post ID:{{i[6]}}</div>

                            <a href="/{{i[6]}}">
                            <div class="post-detail">
                                {% if i[1] == post_date %}
                                <p class="post-name">By {{i[0]}} - {{i[2]}}</p>

                                {% else %}
                                <p class="post-name">By {{i[0]}} - {{i[5]}}</p>

                                {%endif%}

                                <p class="post-body">{{i[3].capitalize()}}</p>
                                
                                {% if i[4] != None %}
                                    {% if 'mp4' == i[4].split(".")[1] %}
                                        <video controls width="320" height="240">
                                            <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="video/{{i[4].split('.')[1]}}">
                                        Your browser does not support the audio element.
                                        </video>

                                    {%elif 'mp3' == i[4].split(".")[1]%}
                                        <audio controls width="320" height="240">
                                            <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="audio/{{i[4].split('.')[1]}}">
                                        Your browser does not support the audio element.
                                        </audio>

                                    {%endif%}

                                    {% for pic_type in ALLOWED_EXTENSIONS%}
                                        {% if pic_type == i[4].split(".")[1] %}
                                            <img src="/static/preview_img/{{i[4]}}" alt="">
                                        {%endif%}
                                    {%endfor%}

                                {%endif%}
                            </a> 
                            </div>
                            {%endfor%}
                            
                        </div>
                    </div>
                </div>
                    
        
            </div>
        </div>

    </main>
    
</body>

</html>