<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for i in profile_stuff%}
        <title>{{i[0]}} (@{{i[1]}})</title>
    {%endfor%}
    <!-- <link rel="stylesheet" type= "text/css" href="\twitter clone\static\index.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='profile.css')}}">
</head>

<body>

    <main>
        <div class="container">
            <div class="navbar">
                <a href="/" class="flex-item">Website Name</a>
                <a href="/" class="flex-item">Home</a>
                <a href="/" class="flex-item">Shop</a>
                <a href="" class="flex-item">About Us</a>
                <a href="" class="flex-item">Contact</a>
                {% if "username" in session %}
                <a href="/{{session['username']}}" class="flex-item" id="active">{{session["username"]}}</a>
                {% elif "username" not in session %}
                <a href="/login">Login</a>
                {% endif %}
            </div>
                <div class="container-middle">
                    {% if profile_stuff %}
                        <div class="container-middle-top">
                            <!-- {% if profile_stuff %} -->
                            {% for i in profile_stuff%}
                            <!-- {{i}} -->
                                <!-- <img src="{{url_for('static',filename='preview_img/{{{i}}}')}}" alt="{{i}}" id="profile-banner"> -->
                                <img src='/static/preview_img/{{i[11]}}' alt="{{i[11]}}" id="profile-banner">
                                <!-- <img src="{{url_for('static',filename='preview_img/{{i}}')}}" alt="{{i}}" id="profile-img"> -->
                                <img src='/static/preview_img/{{i[12]}}' alt="{{i[12]}}" id="profile-img">
                                
                            <!-- {%endfor%} -->
                            <!-- {% for i in profile_stuff%} -->
                            <div>
                                <!-- <button style="float: right;">Edit Account</button> -->
                                {% if username == session['username']%}
                                    <a href="/profile/{{session['username']}}/settings" class="profile-edit">Edit Account</a>
                                {% else %}
                                    <a href="/profile/{{session['username']}}/settings" class="profile-edit">Follow</a>

                                {%endif%}
                                
                            </div>
                            <!-- <h3 style="color: white;">Name:{{i[0]}}</h3> -->
                            <div class="profile-description">
                                <h3 style="color: white;">{{i[0]}}</h3>
                                <p style="color: white;">@{{i[1]}}</p>
                                <p style="color: white;">{{i[10]}}</p>
                            </div>

                            <div class="profile-tabs">
                                <a href="/">Tab1</a>
                                <a href="/">Tab2</a>
                                <a href="/">Tab3</a>
                                <a href="/">Tab4</a>
                            </div>
                            {%endfor%}
                        </div>
                    {%endif%}
                    
                
                        {% if user_post%}
                        <div class="post-board">
                            
                            <div class="post">
                                {%for i in user_post%}
                                <!-- {{session["username"]}} -->
                                <!-- <div style="color: blue;">Author:{{i[0]}}</div> -->
                                <!-- <div style="color: blue;">Post Date:{{i[1]}}</div> -->
                                <!-- <div style="color: blue;">Post Time:{{i[2]}}</div> -->
                                <!-- <div style="color: blue;">Post:{{i[3]}}</div> -->
                                <!-- <div style="color: blue;">Post File:{{i[4]}}</div> -->
                                <!-- <div style="color: blue;">Placeholder Date:{{i[5]}}</div> -->
                                <!-- <div style="color: blue;">Post ID:{{i[6]}}</div> -->

                                <a href="/{{i[6]}}">
                                <div class="post-detail">
                                    {% if i[1] == post_date %}
                                        <p class="post-name">By {{i[0]}} - {{i[2]}}</p>

                                    {% else %}
                                        <p class="post-name">By {{i[0]}} - {{i[5]}}</p>

                                    {%endif%}

                                    <p class="post-body">{{i[3].capitalize()}}</p>
                                    
                                    {% if i[4] != None %}
                                        {% if 'mp4' == i[4].split(".")[1] %}
                                            <video controls width="320" height="240">
                                                <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="video/{{i[4].split('.')[1]}}">
                                            Your browser does not support the audio element.
                                            </video>

                                        {%elif 'mp3' == i[4].split(".")[1]%}
                                            <audio controls width="320" height="240">
                                                <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="audio/{{i[4].split('.')[1]}}">
                                            Your browser does not support the audio element.
                                            </audio>

                                        {%endif%}

                                        {% for pic_type in ALLOWED_EXTENSIONS%}
                                            {% if pic_type == i[4].split(".")[1] %}
                                                <img src="/static/preview_img/{{i[4]}}" alt="">
                                            {%endif%}
                                        {%endfor%}

                                    {%endif%}
                                </a> 
                                </div>
                                {%endfor%}
                            </div>

                        

                        </div>
                        {% elif not user_post%}
                        <p style="color:white">
                            {% with messages = get_flashed_messages()%}
                                {% if messages %}
                                    {% for message in messages%}
                                        {{message}}
                                        <br>
                                        <br>
                                    {%endfor%}
                                {%endif%}
                            {%endwith%}
                        </p>
                        {%endif%}


                    {% elif not user_post%}
                    <p style="color:white">
                        {% with messages = get_flashed_messages()%}
                            {% if messages %}
                                {% for message in messages%}
                                    {{message}}
                                    <br>
                                    <br>
                                {%endfor%}
                            {%endif%}
                        {%endwith%}
                    </p>
                    {%endif%}
                </div>

            </div>
        </div>
    </main>
</body>

</html>