{% extends "base.html" %}

{% block likes %}
    <div class="post">
        {% for i in data["post"] %}
            <a href="/{{i[6]}}">
                <div class="post-detail">
                    {% if i[1] == data["post date"] %}
                        <p class="post-name">By {{i[0]}} - {{i[2]}}</p>
                    {% else %}
                        <p class="post-name">By {{i[0]}} - {{i[5]}}</p>
                    {%endif%}

                    <p class="post-body">{{i[3].capitalize()}}</p>
                    
                    {% if i[4] != None %}
                        {% if 'mp4' == i[4].split(".")[1] %}
                            <video controls width="320" height="240">
                                <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="video/{{i[4].split('.')[1]}}">
                            Your browser does not support the audio element.
                            </video>

                        {%elif 'mp3' == i[4].split(".")[1]%}
                            <audio controls width="320" height="240">
                                <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="audio/{{i[4].split('.')[1]}}">
                            Your browser does not support the audio element.
                            </audio>

                        {%endif%}

                        {% for pic_type in data["Allowed Extensions"] %}
                            {% if pic_type == i[4].split(".")[1] %}
                                <img src="/static/preview_img/{{i[4]}}" alt="">
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                </div>
            </a>             
        {%endfor%}
    </div>
    <h2 style="color: white;">Liked Post</h2>
{% endblock %}

{% block replies %}
    <div class="post">
        {%for i in data["comments"] %}
            <div class="post-detail"> 
                {% if i[1] == data["post date"] %}
                    <p class="post-name">By <a href="/{{i[0]}}">{{i[0]}}</a> - {{i[2]}}</p>
                {% else %}
                    <p class="post-name">By <a href="/{{i[0]}}">{{i[0]}}</a> - {{i[5]}}</p>
                {%endif%}

                {% for s in data["replied to"] %}
                    {% if i[6] == s[6] %}
                        <p style="color: gray;">Replied to {{s[0]}}</p>
                    {%endif%}
                {%endfor%}

                <p class="post-body">{{i[3].capitalize()}}</p>
                
                {% if i[4] != None %}
                    {% if 'mp4' == i[4].split(".")[1] %}
                        <video controls width="320" height="240">
                            <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="video/{{i[4].split('.')[1]}}">
                        Your browser does not support the audio element.
                        </video>

                    {%elif 'mp3' == i[4].split(".")[1]%}
                        <audio controls width="320" height="240">
                            <source src="/static/preview_img/{{i[4].split('.')[0]}}.{{i[4].split('.')[1]}}" type="audio/{{i[4].split('.')[1]}}">
                        Your browser does not support the audio element.
                        </audio>

                    {%endif%}

                    {% for pic_type in data["Allowed Extensions"] %}
                        {% if pic_type == i[4].split(".")[1] %}
                            <img src="/static/preview_img/{{i[4]}}" alt="">
                        {%endif%}
                    {%endfor%}
                {%endif%}
                <div class="reply-to">
                    {% for m in data["replied to"] %}
                        {% if i[6] == m[6] %}
                            <!-- <p>{{m}}</p> -->
                            <a href="/{{m[6]}}">
                                {% if m[1] == data["post date"] %}
                                    <p class="post-name">By {{m[0]}} - {{m[2]}}</p>

                                {% else %}
                                    <p class="post-name">By {{m[0]}} - {{m[5]}}</p>
                                {%endif%}

                                {% if m[3] != None%}
                                    <p class="post-body" id="{{i[6]}}">{{m[3]}}</p>
                                {%endif%}
                                
                                {% if m[4] != None %}
                                    {% if 'mp4' == m[4].split(".")[1] %}
                                        <video controls width="320" height="240">
                                            <source src="/static/preview_img/{{m[4].split('.')[0]}}.{{m[4].split('.')[1]}}" type="video/{{m[4].split('.')[1]}}">
                                        Your browser does not support the audio element.
                                        </video>

                                    {%elif 'mp3' == m[4].split(".")[1]%}
                                        <audio controls width="320" height="240">
                                            <source src="/static/preview_img/{{m[4].split('.')[0]}}.{{m[4].split('.')[1]}}" type="audio/{{m[4].split('.')[1]}}">
                                        Your browser does not support the audio element.
                                        </audio>

                                    {%endif%}

                                    {% for pic_type in data["Allowed Extensions"]%}
                                        {% if pic_type == m[4].split(".")[1] %}
                                            <img src="/static/preview_img/{{m[4]}}" alt="">
                                        {%endif%}
                                    {%endfor%}
                                {%endif%}
                            </a>
                        {%endif%}
                    {%endfor%}
                </div>
            </div>
        {%endfor%}
    </div>
    <h2 style="color: white;">Replies</h2>
{% endblock%}

{% block post_buttons %}
    <div class="likes">
        {% for i in data["post"] %}
            <br>
            <form action="" method="post" class="post-buttons">
                <button id="4" name="Reply" class="Reply" value="{{i[6]}}"><img src="/static/buttons/reply1.png" alt="">Reply</button>  
                <button id="4" name="Retweet" class="Retweet" value="{{i[6]}}"><img src="/static/buttons/retweet.png" alt="">Retweet</button> 
                {% if data["like lst"] %}
                    {% for j in data["like lst"] %}
                        {% if j[1] == i[6] %}
                            {% if session["username"] == j[0] %}
                                <button id="4" name="UnLike" class="Like" value="{{i[6]}}"><img src="/static/buttons/unlike.png" alt="">Like</button>  
                            {%endif%}
                        {%endif%}
                    {%endfor%}
                {%endif%}
                <button id="4" name="Share" class="Share" value="{{i[6]}}"><img src="/static/buttons/black heart.png" alt="">Share</button>  
            </form> 
        {%endfor%}       
    </div>
{% endblock %}

{% block follower %}
    {% for i in data["followers"] %}
        {% if i[1] == data["username"] %}
            <p>{{i[0]}}</p>
        {%endif%}
    {%endfor%}
    <h2 style="color: white;">Followers</h2>
{% endblock %}

{% block following %}
    {% for i in data["following"] %}
        {% if i[0] == data["username"] %}
            <p>{{i[1]}}</p>
        {%endif%}
    {%endfor%}
    <h2 style="color: white;">Following</h2>
{% endblock %}