<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- <link rel="stylesheet" type= "text/css" href="\twitter clone\static\index.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='profile.css')}}">
</head>

<body>

    <main>
        <div class="container">
            <div class="navbar">
                <a href="/" class="flex-item">Website Name</a>
                <a href="/" class="flex-item">Home</a>
                <a href="/" class="flex-item">Shop</a>
                <a href="" class="flex-item">About Us</a>
                <a href="" class="flex-item">Contact</a>
                {% if "username" in session %}
                <a href="/profile" class="flex-item" id="active">{{session["username"]}}</a>
                {% elif "username" not in session %}
                <a href="/login">Login</a>
                {% endif %}
            </div>
                <div class="container-middle">
                        <div class="container-middle-top">
                            {% for i in profile_stuff%}
                                <!-- <img src="{{url_for('static',filename='preview_img/{{{i}}}')}}" alt="{{i}}" id="profile-banner"> -->
                                <img src='/static/preview_img/{{i[11]}}' alt="{{i[11]}}" id="profile-banner">
                                <!-- <img src="{{url_for('static',filename='preview_img/{{i}}')}}" alt="{{i}}" id="profile-img"> -->
                                <img src='/static/preview_img/{{i[12]}}' alt="{{i[12]}}" id="profile-img">
                                
                            {%endfor%}
                            <div class="profile-description">
                                <!-- <p style="color: white;">Name</p>
                                <p style="color: white;">Username</p>
                                <p style="color: white;">description</p>
                                <p style="color: white;">join date</p> 
                                <p style="color: white;">...</p>  -->

                                {% for i in profile_stuff%}
                                <div>
                                    <!-- <button style="float: right;">Edit Account</button> -->
                                    <a href="/profile/settings" class="profile-edit">Edit Account</a>
                                    <h3 style="color: white;">{{i[0]}}</h3>
                                </div>
                                <!-- <h3 style="color: white;">Name:{{i[0]}}</h3> -->
                                <p style="color: white;">@{{i[1]}}</p>
                                <p style="color: white;">{{i[10]}}</p>
                                <!-- <p style="color: white;">{{i[11]}}</p>
                                <p style="color: white;">{{i[12]}}</p> -->
                            
                                <!-- <p style="color: white;">Gender:{{i[5]}}</p> -->
                                <!-- <p style="color: white;">Age:{{i[6]}}</p> -->
                                <!-- <p style="color: white;">Birthday:{{i[7]}}</p>
                                <p style="color: white;">Join Date:{{i[8]}}</p> -->
                                {%endfor%}
                            </div>
                        </div>
                    
                
                    {% if user_post%}
                    <div class="post-board">
                        <div class="post">
                            {%for i in user_post%}
                            <!-- {{session["username"]}} -->
                            <div style="border-style: solid;border-color: white;padding: 20px; margin-bottom: 10px;cursor: pointer;">
                               <p class="post-name">By {{i[0]}}
                                    {% if session["username"] == i[0] %}
                                   <a href="/clear" style="float: right; text-decoration: none; color:white">delete all post</a>
                                   {% endif %}
                                </p>
                                <p class="post-body">{{i[2]}}</p>
                                <p class="post-date">{{i[1]}}</p> 
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    {% elif not user_post%}
                    <p style="color:white">
                        {% with messages = get_flashed_messages()%}
                            {% if messages %}
                                {% for message in messages%}
                                    {{message}}
                                    <br>
                                    <br>
                                {%endfor%}
                            {%endif%}
                        {%endwith%}
                    </p>
                    {%endif%}
                </div>
            </div>
        </div>
    </main>
</body>

</html>