<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/settings.css')}}">
</head>
<body>
    <main>
        <div class="setting-form">
            <h2>Settings</h2>
            <p style="color:white">
                {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        {% for message in messages%}
                            {{message}}
                            <br>
                            <br>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
            </p>
            
            {% for i in profile_stuff%}
            <form method=post enctype=multipart/form-data>
                <div class="each">
                    <label for="profile-anner">Profile Banner:</label>
                    <input type=file name="profile_banner" value="{{i[11]}}">
                </div>
                
                <div class="each">
                    <label for="profile-image">Profile Image:</label>
                    <input type="file" name="profile_img" placeholder="{{i[12]}}">
                </div>
                
                <div class="each">
                    <label for="profile-description">Description:</label>
                    <textarea name="profile_description" id="" cols="50" rows="7" style="resize: none;">{{i[10]}}</textarea>
                </div>

                <div style="float: right;">
                   <input type=submit value=Save class="submit"> 
                </div>
            </form>
            {%endfor%}
        </div>
    </main>
</body>
</html>